/*general*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*fondo*/
#hero{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(img/fondopagina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*barra menú*/

#barramenu{
    background-color:  rgba(208, 198, 188, 0.67);
    margin-bottom: 10px;
}

.fondo-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center; 
    color: rgb(7, 7, 7);
    font-size: 2rem;
    width: 100%;
}

.logo{
    height: 90%;
    width: 20%;
}

.nav{
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: end;
    padding: 2rem;
    gap: 1rem;
    background-color: rgba(208, 198, 188, 0.886);
    border-radius: 10px;
    right: 0;
    top: 0;
    box-shadow: 0 0 0 100vmax rgba(84, 81, 81, 0.744);
    z-index: 2;
}

nav.visible{
    opacity: 1;
    visibility: visible;
}

.nav-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    align-items: end;
    font-size: 2.5rem;
}

.nav-list li a{
    text-decoration: none;
    color: rgb(9, 9, 9);
}

.abrir-menu,
.cerrar-menu{
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;
}

/*cuerpo*/
#carrusel-formulario{
    display: flex;
    align-items: center;
    background: rgba(208, 198, 188, 0.886);
    margin-bottom: 10px;
    border-radius: 5%;
    padding: 5%;
    height: 75vh;
}

/*formulario*/
form{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 15px;
}

form h1{
    font-weight: bolder;
}

form p{
    font-weight: bold;
}

form .grupo{
    position: relative;
    margin: 25px;
}

input{
    font-size: 10px;
    padding: 10px 10px 10px 5px;
    border-radius: 8%;
}

button{
    border-radius: 5px;
}

.modal_container{
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

/*carrusel*/
   .slideshow-container{
    width: 90%;
    padding: 5%;
   }

   .slideshow-container img{
    width: 300px;
    border-radius: 7%;
   }

   .fade{
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name:fade;
    animation-duration:1.5s;
   }
   
   @-webkit-keyframes fade{
    from{opacity:.4}
    to{opacity:1}
   }
   
   @keyframes fade{
    from{opacity:.4}
    to{opacity:1}
   }

   /*pie de página*/
footer{
    background-color: rgba(251, 249, 249, 0.995);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.telefono{
    justify-content: space-between;
    padding: 20px 20px;
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

/*respponsive*/

 @media (min-width: 950px){

    .fondo-menu{
        font-size: 3rem;
        width: 40%;
        margin-left: 30%;
    }

    .logo{
        height: 20%;
        width: 10%;
    }

    button{
        width: 60px;
        height: 40px;
    }

    #carrusel-formulario{
        margin-left: 400px;
        margin-right: 400px;
        
    }

    .slideshow-container{
        width: 90%;
        position:relative;
        padding: 0%;
    }
    
    .slideshow-container img{
        width: 90%;
    }
 }